/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2.8rem;
}

.header-bg-color {
    background-image: linear-gradient(to right, #8A0F86, #AE287D);
}

.margin-top-design {
    margin-top: 80px;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.2rem;

}

.logo-color {
    color: #F53878;
}

.banner-p {
    font-size: 0.9rem;
    width: 75%;
}

.botton-design {
    color: #FFFFFF;
    background-color: #F53878;
    border: 2px solid transparent;
}

.botton-design:hover {
    color: #F53878;
    background-color: transparent;
    border: 2px solid #F53878;
}

.card-image {
    background-color: #eaeaea;
    height: 300px;
}

.card-img-height {
    height: 100%;
}

.custom-bg {
    background-color: #eaeaea;
}

.custom-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-responsive .custom-image {
    width: 90px;
}

.custom-responsive .custom-image img {
    width: 80%;
    margin: auto;
}

.custom-responsive .detail p {
    font-size: 14px;
}

/* 
-------------------------------
            Media Query
------------------------------- 
*/
@media screen and (max-width:360px) {
    .card-image {
        background-color: #eaeaea;
        height: 200px;
    }

    .card-img-height {
        height: 100%;
    }

}

@media screen and (max-width:460px) {
    .custom-responsive {
        display: block;
    }

    .custom-responsive .custom-image {
        width: 90px;
        margin: auto;
    }

    .custom-responsive .detail {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (min-width:280px) and (max-width:767px) {
    .sm-device-text {
        text-align: center;
    }

    .banner-p {
        font-size: 0.9rem;
        width: 100%;
    }
}

/* --------------------------------------------------- */
@media screen and (min-width:768px) and (max-width:991px) {
    .banner-p {
        font-size: 0.9rem;
        width: 95%;
    }
}